.Categories{
    height: 1000px;
padding: 40px;
margin-top: -16px;
    text-align: center;
    background-color: rgb(245, 245, 245);
  }
.CategoriesTotal{
    height: 800px;
    border-radius: 5px;
  
}
.CategoriesTop{
    height: 70px;
background-color: rgba(255, 255, 255, 0.599);
    width: 98%;
    text-align: left;
    font-weight:100 ;
    border-top-right-radius:5px ;
    border-top-left-radius: 5px;
    color: grey;
    margin-top: -22px;
    padding-left: 20px;
    border: 1px solid rgb(219, 219, 219) ;
}
.CategoriesInputfield{
   float: left;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 4px;
    height: 20px;
   margin-top: 20px;
   width: 30%;
   padding:6px;
   margin-right:350px ;
   margin-left: 350px;
}
.CategoriesInput{
   
height: 200px;
    width:100%;
  font-weight: 500;
color: black;
    font-size: 15px;
    border: 1px solid rgb(219, 219, 219);

}
.CategoriesCreatebutton{
    background-color: rgb(5, 25, 40);
    color: white;
    border-radius: 5px;
    height: 40px;
width: 40%;
    border: none;

   }
   .CategoriesCreatebutton:hover{
    color: rgb(5, 25, 40);
    background-color: white;
    border: 1px solid rgb(5, 25, 40);
   }
   .CategoriesUpdatebutton{
    background-color: rgb(5, 25, 40);
    color: white;
        border-radius: 5px;
      
        height: 40px;
    width: 40%;
        border: none;
   }
   .CategoriesUpdatebutton:hover{
    color: rgb(5, 25, 40);
    background-color: white;
    border: 1px solid rgb(5, 25, 40);
   }
  
   .Editbutton{
    background-color: rgb(4, 86, 4);
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
   }
   .Editbutton:hover{
    color: rgb(4, 86, 4);
    background-color: white;
    border: 1px solid rgb(4, 86, 4);
   }
  
   .CategoriesDeleteSelectedButton{
    background-color: red;
    color: white;
    border-radius: 5px;
    height: 40px;
    border: none;
    margin-left: 10px;
  width: 40%;
  margin-bottom: 3px;
 
   }
   .CategoriesDeleteSelectedButton:hover{
    color: red;
    background-color: white;
   border: 1px solid red;
   
   }
.Table{
    width: 100%;    
    border-collapse: collapse;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
margin-top: 100px;

}

.Td{
    height: 40px;
    border:1px solid rgb(219, 219, 219);
}
.Th{
    background-color: rgba(255, 255, 255, 0.599);
    border: 1px solid rgb(219, 219, 219);
    color:grey;
}
