.admin{
  background-color: white;
  overflow: hidden;
  height:70px;

}

.admin .col{
  box-shadow: 0.5px 0.5px 2px rgb(202, 198, 198);
  height:68px;
  color: rgb(82, 82, 180);
}
.admin img{
  border-radius: 20px;
}
 

/* login */
.login{

  background-color: rgb(17, 16, 16,.6);
  width: 40%;
  color: white;
}
.login h2{
  align-items: center;

}